In [1]:
import numpy as np
import pandas as pd

In [15]:
couples = pd.DataFrame({
    'man': [
        ['fishing', 'biking', 'reading'],
        ['hunting', 'mudding', 'fishing'],
        ['reading', 'movies', 'running'],
        ['running', 'reading', 'biking', 'mudding'],
        ['movies', 'reading', 'yodeling']
    ],
    'woman': [
        ['biking', 'reading', 'movies'],
        ['fishing', 'drinking'],
        ['knitting', 'reading'],
        ['running', 'biking', 'fishing', 'movies'],
        ['movies']
    ]
})
#For each couple, determine what hobbies each man has that his wife doesn’t and what hobbies each woman has that her husband doesn’t.
#couples['man only'] = couples['man'] - couples['woman']

couples['man_only'] = couples.apply(func= lambda row: set(row['man']) - set(row['woman']), axis=1)
couples['woman_only'] = couples.apply(func= lambda row: set(row['woman']) - set(row['man']), axis=1)
couples

,man,woman,man_only,woman_only
0,"[fishing, biking, reading]","[biking, reading, movies]",{fishing},{movies}
1,"[hunting, mudding, fishing]","[fishing, drinking]","{mudding, hunting}",{drinking}
2,"[reading, movies, running]","[knitting, reading]","{movies, running}",{knitting}
3,"[running, reading, biking, mudding]","[running, biking, fishing, movies]","{mudding, reading}","{fishing, movies}"
4,"[movies, reading, yodeling]",[movies],"{yodeling, reading}",{}

In [58]:
machine_products = pd.DataFrame({
    'machine' : ['abc', 'abc' , 'def', 'def', 'def', 'ghi'],
    'product' : ['skittles', 'soap', 'soap', 'mms', 'skittles', 'mms'],
    'stock' : [10, 0, 15, 2, 0, 3]
})

stock = machine_products.pivot(index='product', columns='machine', values='stock')
stock['n_machines'] = stock.apply(lambda c: pd.Series.sum(c > 0), axis=1)
stock['n_machines_empty'] = stock.iloc[:,0:3].apply(lambda c: pd.Series.sum(c == 0), axis=1)
stock

machine    abc   def  ghi  n_machines  n_machines_empty
product
mms        NaN   2.0  3.0           2                 0
skittles  10.0   0.0  NaN           1                 1
soap       0.0  15.0  NaN           1                 1

In [82]:
couples = pd.DataFrame({
    'person1': ['Cody', 'Dustin', 'Peter', 'Adam', 'Ryan', 'Brian', 'Jordan', 'Gregory'],
    'person2': ['Sarah', 'Amber', 'Brianna', 'Caitlin', 'Rachel', 'Kristen', 'Alyssa', 'Morgan']
}).convert_dtypes()

ages = pd.DataFrame({
    'person': ['Adam', 'Alyssa', 'Amber', 'Brian', 'Brianna', 'Caitlin', 'Cody', 'Dustin', 'Gregory', 'Jordan',
               'Kristen', 'Rachel', 'Morgan', 'Peter', 'Ryan', 'Sarah'],
    'age': [62, 40, 41, 50, 65, 29, 27, 39, 42, 39, 33, 61, 43, 55, 28, 36]
}).convert_dtypes()
couples = pd.merge(left=couples, right=ages, left_on='person1', right_on='person', how='left').drop(columns='person').rename(columns={"age" : "person1 age"})
couples = pd.merge(left=couples, right=ages, left_on='person2', right_on='person', how='left').drop(columns='person').rename(columns={"age" : "person2 age"})
couples['age diff'] = (couples['person1 age'] - couples['person2 age']) >= 20
couples['spouse under 30'] = couples['person2 age'] < 30
couples['is cradle robber'] = couples['age diff'] & couples['spouse under 30']
couples

,person1,person2,person1 age,person2 age,age diff,spouse under 30,is cradle robber
0,Cody,Sarah,27,36,False,False,False
1,Dustin,Amber,39,41,False,False,False
2,Peter,Brianna,55,65,False,False,False
3,Adam,Caitlin,62,29,True,True,True
4,Ryan,Rachel,28,61,False,False,False
5,Brian,Kristen,50,33,False,False,False
6,Jordan,Alyssa,39,40,False,False,False
7,Gregory,Morgan,42,43,False,False,False

In [120]:
potholes = pd.DataFrame({
    'length' : [5.1, np.nan, 6.2, 4.3, 6.0, 5.1, 6.5, 4.3, np.nan, np.nan],
    'width' : [2.8, 5.8, 6.5, 6.1, 5.8, np.nan, 6.3, 6.1 , 5.4, 5.0],
    'depth' : [2.6, np.nan, 4.2, 0.8, 2.6, np.nan, 3.9, 4.8, 4.0, np.nan],
    'location' : pd.Series(['center', 'north edge', np.nan, 'center', 'north edge', 'center', 'west edge', 'west edge', np.nan, np.nan], dtype='string')
})
potholes['count null'] = potholes.apply(func=lambda row: pd.Series.sum(row.isna()), axis=1)
potholes = potholes.loc[~(potholes['count null'] == 3)].drop(columns='count null')
potholes.fillna(potholes.mean(), inplace=True)
potholes

C:\Users\ccino\AppData\Local\Temp\ipykernel_7560\3927132847.py:9: FutureWarning: <class 'pandas.core.arrays.string_.StringArray'>._reduce will require a `keepdims` parameter in the future
  potholes.fillna(potholes.mean(), inplace=True)

TypeError: Cannot perform reduction 'mean' with string dtype